* {
  margin: 0;
}

.header {
  background-color: #e83e8c;
  color: #fafafa;
  height: 80px;
}

.header > div {
  cursor: pointer;
}

.footer {
  background-color: #343a40;
  color: #fafafa;
  height: 300px;
}
.App_blog {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
}

.page {
  padding: 20px;
  margin-top: 60px;
}

.page_title {
  text-align: center;
}
